
<!-- <div class="flashlight-container">
  <button (click)="toggleFlashlight()" class="btn btn-primary">
    {{ isFlashlightOn ? 'Turn Off' : 'Turn On' }} Flashlight
  </button>
</div> -->


<!-- From Uiverse.io by Creatlydev --> 
<div class="container">
  <input (click)="toggleFlashlight()" hidden="" id="check" name="check" type="checkbox">
  <label class="toggle" for="check">
      <div class="toggle__circle"></div>
  </label>
  <div class="toggle-text">
      <span>N</span>
      <span>F</span>
  </div>
</div>