/* From Uiverse.io by Creatlydev */ 
.container {
  margin: auto;
  color: hsl(0, 0%, 30%);
  font-weight: 900;
  font-size: 8.5rem;
  display: flex;
}

.toggle {
  width: 110px;
  height: 225px;
  background-color: hsl(0, 0%, 80%);
  border-radius: 1.7rem;
  padding: .25rem 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background-color 300ms 300ms;
}

.toggle__circle {
  width:70px;
  height: 70px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 50%;
  margin-top: calc(150px - (.25rem * 2) - 0px);
  transition: margin 500ms ease-in-out;
}

.toggle-text {
  display: flex;
  flex-direction: column;
  line-height: .8;
}

#check:checked + .toggle > .toggle__circle {
  margin-top: 0;
}

#check:checked + .toggle {
  background-color: #41a63c;
}